In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
fraud=pd.read_csv(r"C:\Users\jogda\Downloads\Fraud.csv")

In [5]:
fraud

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [6]:
# some data  is in string format so we will slice the data

In [9]:
data=fraud.iloc[0:6362620,[0,2,4,5,7,8,9,10]]
data

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,9839.64,170136.00,160296.36,0.00,0.00,0,0
1,1,1864.28,21249.00,19384.72,0.00,0.00,0,0
2,1,181.00,181.00,0.00,0.00,0.00,1,0
3,1,181.00,181.00,0.00,21182.00,0.00,1,0
4,1,11668.14,41554.00,29885.86,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...
6362615,743,339682.13,339682.13,0.00,0.00,339682.13,1,0
6362616,743,6311409.28,6311409.28,0.00,0.00,0.00,1,0
6362617,743,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0
6362618,743,850002.52,850002.52,0.00,0.00,0.00,1,0
6362619,743,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0

In [10]:
data.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

In [12]:
data['isFraud'].value_counts()

isFraud
0    6354407
1       8213
Name: count, dtype: int64

In [13]:
legit_transaction=data[data['isFraud']==0]
fraud_transaction=data[data['isFraud']==1]

In [14]:
fraud_transaction.value_counts()

step  amount       oldbalanceOrg  newbalanceOrig  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
387   10000000.00  10000000.00    0.0             0.00            10000000.00     1        0                 4
617   10000000.00  10000000.00    0.0             0.00            10000000.00     1        0                 4
646   10000000.00  10000000.00    0.0             0.00            10000000.00     1        0                 3
185   131597.73    131597.73      0.0             0.00            0.00            1        0                 2
212   10000000.00  10000000.00    0.0             0.00            10000000.00     1        0                 2
                                                                                                            ..
241   989966.55    989966.55      0.0             0.00            0.00            1        0                 1
      657417.64    657417.64      0.0             0.00            657417.64       1        0                 1
                                                                  0.00            1        0                 1
      470956.59    470956.59      0.0             0.00            470956.59       1        0                 1
743   6311409.28   6311409.28     0.0             68488.84        6379898.11      1        0                 1
Name: count, Length: 8195, dtype: int64

In [15]:
legit_transaction_sample=legit_transaction.sample(n= 8213)

In [16]:
fraud=pd.concat([legit_transaction_sample,fraud_transaction],axis=0)

In [17]:
fraud['isFraud'].value_counts()

isFraud
0    8213
1    8213
Name: count, dtype: int64

In [18]:
x=fraud.drop('isFraud',axis=1)
y=fraud['isFraud']

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [20]:
model=LogisticRegression()
model.fit(x_train,y_train)
ypred=model.predict(x_test)

In [21]:
accuracy_score(ypred,y_test)

0.901095556908095

In [ ]:
# for flagged transaction

In [22]:
data['isFlaggedFraud'].value_counts()

isFlaggedFraud
0    6362604
1         16
Name: count, dtype: int64

In [25]:
no_flagged_transactio=data[data['isFlaggedFraud']==0]
fraud_flagged_transaction=data[data['isFlaggedFraud']==1]

In [24]:
no_flagged_transactio.value_counts()

step  amount       oldbalanceOrg  newbalanceOrig  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
617   10000000.00  10000000.00    0.00            0.00            10000000.00     1        0                 4
387   10000000.00  10000000.00    0.00            0.00            10000000.00     1        0                 4
646   10000000.00  10000000.00    0.00            0.00            10000000.00     1        0                 3
43    3874.29      0.00           0.00            0.00            0.00            0        0                 2
39    14010.41     0.00           0.00            0.00            0.00            0        0                 2
                                                                                                            ..
183   113790.93    71445.00       185235.93       49591.79        0.00            0        0                 1
      113779.32    67033.00       0.00            0.00            113779.32       0        0                 1
      113775.68    41000.00       0.00            1403223.82      1516999.50      0        0                 1
      113762.45    0.00           0.00            1234117.02      1347879.47      0        0                 1
743   6311409.28   6311409.28     0.00            68488.84        6379898.11      1        0                 1
Name: count, Length: 6362059, dtype: int64

In [26]:
fraud_flagged_transaction.value_counts()

step  amount       oldbalanceOrg  newbalanceOrig  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
212   4953893.08   4953893.08     4953893.08      0.0             0.0             1        1                 1
250   1343002.08   1343002.08     1343002.08      0.0             0.0             1        1                 1
279   536624.41    536624.41      536624.41       0.0             0.0             1        1                 1
387   4892193.09   4892193.09     4892193.09      0.0             0.0             1        1                 1
425   9585040.37   19585040.37    19585040.37     0.0             0.0             1        1                 1
      10000000.00  19585040.37    19585040.37     0.0             0.0             1        1                 1
554   3576297.10   3576297.10     3576297.10      0.0             0.0             1        1                 1
586   353874.22    353874.22      353874.22       0.0             0.0             1        1                 1
617   2542664.27   2542664.27     2542664.27      0.0             0.0             1        1                 1
646   399045.08    10399045.08    10399045.08     0.0             0.0             1        1                 1
      10000000.00  10399045.08    10399045.08     0.0             0.0             1        1                 1
671   3441041.46   3441041.46     3441041.46      0.0             0.0             1        1                 1
702   3171085.59   3171085.59     3171085.59      0.0             0.0             1        1                 1
730   7316255.05   17316255.05    17316255.05     0.0             0.0             1        1                 1
      10000000.00  17316255.05    17316255.05     0.0             0.0             1        1                 1
741   5674547.89   5674547.89     5674547.89      0.0             0.0             1        1                 1
Name: count, dtype: int64

In [27]:
noflaggedtransaction=no_flagged_transactio.sample(n=16)

In [30]:
flagged_fraud_transaction=pd.concat([noflaggedtransaction,fraud_flagged_transaction])

In [34]:
flagged_fraud_transaction['isFlaggedFraud'].value_counts()

isFlaggedFraud
0    16
1    16
Name: count, dtype: int64

In [43]:
P=flagged_fraud_transaction.drop('isFraud',axis=1)
Q=flagged_fraud_transaction['isFraud']

In [47]:
P_train,P_test,Q_train,Q_test=train_test_split(P,Q,test_size=0.5,stratify=Q,random_state=2)

In [48]:
model=LogisticRegression()
model.fit(P_train,Q_train)
Qpred=model.predict(P_test)

In [49]:
accuracy_score(Qpred,Q_test)

0.8125